<h1>Details for <%= @restaurant.name %></h1>

<div class='my-4'>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
</div>

<h1>Leave a Review</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
<%= f.input :content %>
<%= f.input :rating %>
<%= f.submit %>
<% end %>

<% if @restaurant.reviews.count >= 1 %>
<h2>All Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.rating %>
      <%= review.content %>
    </li>
    <% end %>
</ul>
<% end %>
